.sidebar {
  height: 30%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  margin-top: 110px;
  margin-left: 20px;
  left: 0;
  background-color: whitesmoke; /* white */
  border-radius: 35px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
